body {
	margin: 5px;
	padding: 5px;
	background-color: black;
}
div {
	padding: 5px;
	margin: 0;
	border: 1px solid white;
	vertical-align: top;
	background-color: gray;
}
div#lewa {
	float: left;
	width: 200px;
}
div#prawa {
	float: right;
	width: 180px;
}
div#srodek {
	margin: 0 191px 0 220px;
}
