p {
	font-size: medium;
	background-color: green;
	border-style: dashed;
	border-color: green;
	border-width: 10px;
}

div {
	color: white;
	font-family: Verdana;
	font-size: 18px;
	background-color: gray;
	border: double black;
	line-height: 20px;
	cursor: wait;
	margin: 10px;
}
