:root {
	--tr-time: 250ms;
}

* {
	transition: var(--tr-time) ease, box-shadow calc(var(--tr-time) + 250ms) ease;
	font-family: Montserrat;
}
.defCur {
	cursor: default !important;
}
.slide:hover {
	transform: translateX(10px);
}

div,
a {
	display: block;
	max-width: max-content;
	padding: 0.15rem 0.5rem;
	margin-bottom: 10px;
}

a,
a:link,
.link {
	color: white;
	background-color: rgb(46, 88, 179);
	text-decoration: none;
	font-style: italic;
}

a:hover,
#hover {
	border-radius: 7px;
	box-shadow: inset 0 -3.25em 0 0 black, 0 0 0.75em black;
	letter-spacing: 3px;
}

a:active,
#active {
	box-shadow: inset 0 -3.25em 0 0 rgb(223, 80, 175) !important;
}

a:focus,
#focus {
	box-shadow: inset 0 -3.25em 0 0 rgb(191, 37, 37);
}
