.czerwony {
	color: red;
	font-family: "Courier New", Courier, monospace;
}

.zielony {
	color: green;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.niebieski {
	color: blue;
	font-family: Garamond;
}
